<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP</title>
</head>
<body>
    <h1>RPS-7</h1>
    {% if current_user.is_authenticated %}
        <p>
            ようこそ、{{ current_user.user_name }}
        </p>
    {% endif %}

    <a href="{{ url_for('signup') }}"><p>新規登録</p></a>

    {% if current_user.is_authenticated %}
        <a href="{{ url_for('battle') }}"><p>勝負</p></a>
        <a href="{{ url_for('logout') }}"><p>ログアウト</p></a>
        <a href="{{ url_for('battle_log') }}"><p>履歴</p></a>
    {% else %}
        <a href="{{ url_for('login') }}"><p>ログイン</p></a>
    {% endif %}

    {# エラーメッセージ #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith%}


</body>
</html>