<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    <h1>RPS-7</h1>
    <h2>ログイン</h2>

    <form method="post">

        <label for="name">
            名前<input type="text" id="name" name="name" required>
        </label><br>

        <label for="password">
            パスワード
        <input type="password" id="password" name="password" required>
        </label><br>
        
        <input type="submit" value="ログイン">

    </form>

    {# エラーメッセージ #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith%}



</body>
</html>